<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <title>{{ site.title | default: site.github.repository_name }}</title>
	
    <link href="https://cdn.ncsu.edu/brand-assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
	<!-- NC State Bootstrap CSS -->
    <!-- jQuery 2.1.0 (NCSU Branding) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <!-- Bootstrap JS (NCSU Branding) -->
    <script src="https://cdn.ncsu.edu/brand-assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Brand Utility Bar -->
    <!--<script src="https://cdn.ncsu.edu/brand-assets/utility-bar/ub.php?maxWidth=1170&color=gray&showBrick=1"></script>-->
    <!-- Web Fonts (NCSU Branding) -->
    <link href="https://cdn.ncsu.edu/brand-assets/fonts/include.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="https://brand.ncsu.edu/favicon.ico" />
	<!-- Custom Styles -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/syntax.css">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="ncstate-utility-bar"></div>
	<!-- Button to jump back to the top of the webpage -->
    {% include topButton.html %}
    <!-- HEADER -->
    <div id="header_wrap" class="header_outer">
        <header class="header_inner">
            <h1 id="project_title">{{ page.title | default: site.title }}</h1>
            <h2 id="project_tagline">{{ page.description | markdownify | remove: '<p>' | remove: '</p>' | default: site.description }}</h2>
            {% include breadcrumb.html %}
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="main_outer">
        <section id="main_content" class="main_inner">
            {% if page.navigation %}{% include navigation.html %}{% endif %}
            <div id="wrapper" style="padding-left:75px">
                {{ content }}
            </div>
            {% if page.navigation %}{% include navigation.html %}{% endif %}
        </section>
    </div>


    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="footer_inner">
            {% if site.github.is_project_page %}
            <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="mailto:{{ site.contact }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
			{% if site.google_analytics %}
			<p><a href="{{ site.baseurl }}/privacy">Privacy Policy</p>
			{% endif %}
        </footer>
    </div>

    {% if site.google_analytics %}
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>

</html>